@model GoldenLMS.Models.LeadTbl

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light">
    <div class="col-md-12">
        <h2>Edit Lead</h2>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>

                @Html.HiddenFor(model => model.Id)

                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", title = "Enter Title" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ContactPerson,"Contact Person", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control", title = "Enter Contact Person" })
                        @Html.ValidationMessageFor(model => model.ContactPerson)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.EmailId,"Email", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", title = "Enter Email Id" })
                        @Html.ValidationMessageFor(model => model.EmailId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ContactNo,"Contact No.", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", title = "Enter Contact No" })
                        @Html.ValidationMessageFor(model => model.ContactNo)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Value, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Value, new { @class = "form-control", title = "Enter Value" })
                            <span class="input-group-addon">$</span>
                            @Html.ValidationMessageFor(model => model.Value)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.AssignUser,"Assigned To", new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                         <select class="form-control">
                            <option value="0">---Select---</option>
                            @foreach (var au in ViewBag.AssignUser)
                            {
                                <option value="@au.Value" @{if (au.Value == Model.AssignUser.ToString())
                                                            {<text>Selected</text>}}>@au.Text</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.AssignUser)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Status, new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Status, new SelectList(
                          new List<Object>{ 
                                            new { value = "New", text = "New"  },
                                            new { value = "In-progress" , text = "In-progress" },
                                            new { value = "Win" , text = "Win"},
                                            new { value = "Lost" , text = "Lost"}
                                        }, "value", "text"),new { @class = "form-control", title = "Select Status" })
                        @Html.ValidationMessageFor(model => model.AssignUser)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="height: 10px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 pull-right">
                        <input type="submit" class="btn btn-success" value="Save" />
                        |  @Html.ActionLink("Back to List", "StatusIndex")
                    </div>
                </div>
            </fieldset>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
