@model IEnumerable<GoldenLMS.Models.LeadUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Lead Details</h2>

<div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" style="height: 10px;">
            </div>
        </div>
        <p class="btn btn-link">
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="row">
            <div class="col-md-12" style="height: 10px;">
            </div>
        </div>


        <div class="col-md-12">



            <ul class="nav nav-tabs">

                <li class="active">@Html.ActionLink("New", "StatusIndex", new { status = "New" })</li>

                <li>@Html.ActionLink("Win", "StatusIndex", new { status = "Win" })</li>

                <li>@Html.ActionLink("Lost", "StatusIndex", new { status = "Lost" })</li>

            </ul>


            <table style="width: 100%;" class="table table-striped">
                <tr>
                    <th style="width: 15%; padding-left: 2px;">Title
                    </th>
                    <th style="width: 15%; padding-left: 2px;">Contact Person
                    </th>
                    <th style="width: 15%; padding-left: 2px;">Email Id
                    </th>
                    <th style="width: 10%; padding-left: 2px;">Contact No
                    </th>
                    <th style="width: 10%; padding-left: 2px;">Value
                    </th>
                    <th style="width: 15%; padding-left: 2px;">Assigned To
                    </th>
                    <th style="width: 20%; text-align: center;">Action
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 15%; padding-left: 2px;">
                            @Html.ActionLink(item.Title, "Details", new { id = item.Id })
                        </td>
                        <td style="width: 15%; padding-left: 2px;">
                            @Html.DisplayFor(modelItem => item.ContactPerson)
                        </td>
                        <td style="width: 15%; padding-left: 2px;">
                            @Html.DisplayFor(modelItem => item.EmailId)
                        </td>
                        <td style="width: 10%; padding-left: 2px;">
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td style="width: 10%; padding-left: 2px;">
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td style="width: 15%; padding-left: 2px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="width: 20%; text-align: center;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
